<div class="container">
  <div class="row bottom-space">
    Add Current Account
  </div>

  <div class="row bottom-space">
    <div class="col-md-3 col-sm-12 apply-flex bottom-space">
      <label for="selection">select customer</label>
      <select (change)="handleCustomerChange()" id="selection" [(ngModel)]="selectedCustomer">
        <option ngValue="{{customer.id}}" *ngFor="let customer of customers">{{customer.name + ' ' + customer.surName}}</option>
      </select>
    </div>


    <div class="col-md-5 col-sm-12 apply-flex bottom-space">
      <label>initial credit</label>
      <input type="nummber" [(ngModel)]="initialCredit">
    </div>

    <div class="col-md-3 pad-top left-space">
      <button *ngIf="!isSaving" (click)="addCurrentAccount()" class="createAccountBtn">Create current account</button>
    </div>
  </div>


  <div class="row bottom-space">
    <div class="col-10">
      <label class="bottom-space">Accounts for selected user</label>
      <table class="table left-space">
        <tr>
          <th>customer Id</th>
          <th>Type</th>
          <th>Balance</th>
          <th>Actions</th>
        </tr>
        <tr *ngFor="let account of accounts">
          <td>{{account.customerId}}</td>
          <td>{{account.accountType == 0? 'current': 'saving'}}</td>
          <td>{{account.balance}}</td>
          <td><Button class="btn btn-primary" (click)="showTransactions(account)">show Transactions</Button></td>
        </tr>
      </table>
    </div>
  </div>


  <div class="row bottom-space">
    <div class="col-10">
      <label class="bottom-space">Transactions for selected account</label>
      <table class="table left-space">
        <tr>
          <th>Account Id</th>
          <th>Deposit</th>
          <th>Withdraw</th>
        </tr>
        <tr *ngFor="let transaction of transactions">
          <td>{{transaction.accountId}}</td>
          <td>{{transaction.deposit}}</td>
          <td>{{transaction.withdraw}}</td>
        </tr>
      </table>
    </div>
  </div>
</div>